body
{
  background-color:#ffff00;
  border:double;
  border-width:7px;
  border-color:#ffff00;
  text-align:center;
  font-color:#ffff00;
}
.self{
text-decoration: underline;
font-family: bolt;
font-size:50px;
text-shadow: 2px 2px black;
}
.elsa{
  text-shadow: 2px 2px #300043;
}
p{font-size:30px;
text-shadow: 2px 2px #c71585;

}
.eff{
	text-decoration: underline;
	text-shadow: 2px 2px red;

}
.rr{
  font-color:#fe9b1b;
}
.role{
	text-decoration:underline;
	text-shadow:2px 2px  #0000cd;
  }
  .para{
    text-shadow:2px 2px #ff0000;
  }
a{
  margin:2px;
  color:yellow;
  font-size:18px;
  text-decoration: none;
  border: 1px dashed white;
  padding:5px;
background-color:#400000;
}
.motivate{
  text-decoration:underline;
  color:#f20505;
}